@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  .header-fixed {
    @apply backdrop-blur-md bg-white/50 !p-2 rounded-full;
  }

  .slide-down {
    animation: slide-down 0.3s ease-in-out forwards;
    opacity: 1; /* Make sure it's fully visible */
  }

  .slide-up {
    animation: slide-up 0.3s ease-in-out forwards;
  }

  @keyframes slide-up {
    0% {
      transform: translateY(15px); /* Start from the current position */
      opacity: 1;
    }
    100% {
      transform: translateY(0); /* Reset position smoothly */
      opacity: 1; /* Keep visible when going back to the top */
    }
  }

  @keyframes slide-down {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(15px); /* Matches your translate-y-[15px] value */
      opacity: 1;
    }
  }

  .carousel-track {
    animation: slide 10s linear infinite;
  }

  .carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-200%);
    }
    75% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
